.strength-indicator {
    display: flex;
    gap: 4px;
}

.strength-indicator div {
    width: 33%;
    height: 10px;
    border-radius: 5px;
}

.strength-empty {
    background-color: gray;
}

.strength-easy {
    background-color: red;
}

.strength-medium {
    background-color: yellow;
}

.strength-strong {
    background-color: green;
}