<div class="strength-indicator">
  <div [ngClass]="{
      'strength-empty': getStrength()[0] === 'gray',
      'strength-easy': getStrength()[0] === 'red',
      'strength-medium': getStrength()[0] === 'yellow',
      'strength-strong': getStrength()[0] === 'green'
    }">
  </div>
  <div [ngClass]="{
      'strength-empty': getStrength()[1] === 'gray',
      'strength-easy': getStrength()[1] === 'red',
      'strength-medium': getStrength()[1] === 'yellow',
      'strength-strong': getStrength()[1] === 'green'
    }">
  </div>
  <div [ngClass]="{
      'strength-empty': getStrength()[2] === 'gray',
      'strength-easy': getStrength()[2] === 'red',
      'strength-medium': getStrength()[2] === 'yellow',
      'strength-strong': getStrength()[2] === 'green'
    }">
  </div>
</div>